<div class="row">
    <div class="col-xs-3">
        <a [routerLink]="['/collections']" class="info-box">
            <div class="info-box-icon bg-purple">
                <span class="fa fa-database"></span>
            </div>
            <div class="info-box-content">
                <h4 class="info-box-text">Collections</h4>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a [routerLink]="['/movies']" class="info-box">
            <div class="info-box-icon bg-navy">
                <span class="fa fa-film"></span>
            </div>
            <div class="info-box-content">
                <h4 class="info-box-text">Movies</h4>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a [routerLink]="['/tv-shows']" class="info-box">
            <div class="info-box-icon bg-olive">
                <span class="fa fa-television"></span>
            </div>
            <div class="info-box-content">
                <h4 class="info-box-text">TV Shows</h4>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a [routerLink]="['/categories']" class="info-box">
            <div class="info-box-icon bg-orange">
                <span class="fa fa-list-alt"></span>
            </div>
            <div class="info-box-content">
                <h4 class="info-box-text">Categories</h4>
            </div>
        </a>
    </div>
</div>