<div class="filters-container row">
    <div class="col-xs-2">
        <a [routerLink]="['/movies', 'new']" class="btn btn-default btn-sm">
            <span class="fa fa-plus"></span> NEW MOVIE
        </a>
    </div>
    <div class="col-xs-4 col-xs-push-4">
        <div class="form-group form-group-sm">
            <input type="text" class="form-control" placeholder="Filter..." (keyup)="filterMovies(filter.value)" #filter>
        </div>
    </div>
    <div class="col-xs-2 col-xs-push-4">
        <div class="form-group form-group-sm">
            <select class="form-control">
                <option value="">By date (desc)</option>
                <option value="">By date (asc)</option>
                <option value="">By title (desc)</option>
                <option value="">By title (asc)</option>
            </select>
        </div>
    </div>
</div>
<div class="movies-list">
    <div class="movie-box" *ngFor="let movie of filtered_movies" >
        <button type="button" class="btn btn-default remove_movie" (click)="removeMovie($event)">
            <span class="fa fa-times"></span>
        </button>
        <a [routerLink]="['/movies', 'edit', movie._id]">
            <div class="movie-poster" [style.background-image]="'url(' + movie.poster + ')'"></div>
        </a>
        <div class="pa-5">
            <a [routerLink]="['/movies', 'edit', movie._id]">
                <h5>{{ movie.title }}</h5>
                <h6 *ngIf="movie.title !== movie.original_title"><i>({{ movie.original_title }})</i></h6>
            </a>
        </div>
    </div>
</div>
