<div class="movie-edit row">
    <form [formGroup]="movie_data" novalidate (ngSubmit)="onSubmit()">
        <div class="col-xs-3">
            <div class="movie-poster" [style.background-image]="'url(' + movie_data.value['poster'] + ')'">
                <input type="hidden" formControlName="poster">
            </div>
            <div class="labels-container">
                <span class="label label-primary" *ngFor="let genre of this.movie.genres">{{ genre.name }}</span>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-default btn-block" (click)="onClickBack()">
                        <span class="fa fa-angle-double-left"></span> Back
                    </button>
                </div>
                <div class="col-xs-5">
                    <button type="button" class="btn btn-info btn-block" (click)="getMovieInfo()">themoviedb.org info</button>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-success btn-block">Save</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group form-group-sm">
                                <label>Title</label>
                                <input type="text" class="form-control" formControlName="title">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group form-group-sm">
                                <label>Original Title</label>
                                <input type="text" class="form-control" formControlName="original_title">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-group-sm">
                                <label>Overview</label>
                                <textarea class="form-control" formControlName="overview"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" [class.in]="modal_shown">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Several movies are found!</h4>
                <h4>Choose the right one:</h4>
            </div>
            <div class="modal-body">
                <div class="list-group movie-select">
                    <div class="list-group-item" [class.selected]="selected_movie? movie.id === selected_movie.id : false" *ngFor="let movie of found_movie_results" (click)="onSelectMovie(movie)">
                        <div class="row">
                            <div class="col-xs-3">
                                <img [src]="movie.poster_sm" [alt]="movie.original_title" class="img-responsive"/>
                            </div>
                            <div class="col-xs-9">
                                <h4>{{ movie.title }}</h4>
                                <p>{{ movie.overview }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onCloseModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSaveCloseModal()">Choose</button>
            </div>
        </div>
    </div>
</div>
